.tarjeta{
width: calc(100%/5);
height: 350px;
border: 1px solid gray;
border-radius: 5px;
}
.textoTarjeta{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}